.avatar{
    width:40px;
}
.main_interface{
    flex:2.5;
    width: 1000px;
    margin-left: 50px;
    background-color: #f3f5f5 ;
    min-height: 400px;
}
.anhbia {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 300px;
    border-radius: 15px;
    box-shadow: -4px 2px 20px 7px rgba(57,45,38,0.15);
}
.anhbia .edit-anhbia{
    float:right;
}
.head__avatar {
    display: flex;
    align-items: baseline;
    position: relative;
}

.head__avatar .edit-avatar {
    width: 38px;
    height: 38px;
    border: 1px solid transparent;
    border-radius: 9999px;
    background: #767171;
    position: absolute;
    bottom: 0;
    left: 116px;
}
.head__avatar .edit-avatar i {
    color: #fff;
    font-size: 20px;
}
.profile_pic {
    width: 150px;
    height: 150px;
    margin-left: 10px;
    border-radius: 50%;
    border: solid white;
    margin-top: -53px;
} 
.name__user{
    color:rgb(0, 0, 0);
    font-size: 30px;
}
.menu_buttons{
    border-left : solid 1px black;
    color:black;
    width:107px;
    text-align: center;
    display: inline-block;
    padding:5px;
}
.friend_request{
    width:100%;
    min-height: 200px;
    background-color: #f5f5f5;
}
.head__user {
    background: #f3f5f5;
}
.head__img {
    background: #f3f5f5;
}

.ui.card:first-child {
    margin-top: 14px;
}
.friend_bar{
    flex:0.5;
    background-color: #f3f5f5;
    margin-left: 30px;
    margin-top:50px;
    color:rgb(12, 11, 11);
    padding:8px;
}
.friend_img{
    width:50px;
    float:left;
    margin:4px;
    border-radius:50%;

}
.gioithieu{
    background-color: white;
    min-height: 400px;
    flex: 1;
    box-shadow: 0px 1px 5px 0px rgba(34,36,38,.15);
    border-radius: 7px;
}
.friends{
    clear:both;
    font-size:12px;
    color:black;
    font-weight:bold;
}
.post_bar{
    margin-top:20px;
    background-color: white;
    padding:10px;
}
.post{
    padding:4px;
    font-size:13px;
    margin-bottom: 20px;
}
#my_post{
    width:678px; height:62px;
}